*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


html,
body {
  height: 100%;
}

html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Layout CSS
 */
#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  transition: left 0.2s;
  box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.29);
  height: 85px;
  overflow: hidden;
  background-color: white !important;
  border-bottom: 5px solid #445768;
  display: flex;
  justify-content: space-between;
}

#sidedrawer {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  left: -250px;
  overflow: auto;
  z-index: 2;
  background-color: white;
  border-right: 5px solid #445768;

  transition: transform 0.2s;
  box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.29);

  display: flex;
  flex-direction: column;
  align-items: center;
}


#content-wrapper {
  min-height: 100%;
  overflow-x: hidden;
  margin-left: 0px;
  transition: margin-left 0.2s;

  /* sticky bottom */
  margin-bottom: -120px;
  padding: 25px;
  padding-bottom: 160px;
}

#footer {
  height: 120px;
  margin-left: 0px;
  transition: margin-left 0.2s;
  background-color: rgb(239, 239, 239);
  color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.29);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mui-appbar  {
  /* width: 75%; */
  box-sizing: border-box !important;
  height: 100% !important;
  background-color: white !important;
}

.sidedrawer-toggle {
  color: black !important;
  margin-top: 25px;

}




#mui-overlay {
  overflow: hidden !important;
}

.footer-contain {
  text-align: center;
}

.footer-contain p {
  color: rgb(74, 74, 74);
  letter-spacing: .5px;
}

.footer-contain a {
  color: rgb(74, 74, 74);
}




.logo-contain {
    width: 100%;
}
.logo-contain .car-logo {
    margin: 0 auto;

}


.bigger {
    font-size: 20px !important;
    color: black !important;
}


.header-bar {
    background-color: white;
    border-bottom: 5px solid rgb(170, 165, 227);
}

.car-logo {
    width: 100%;
    max-width: 150px;
    height: 80px;
    background-image: url(https://www.freepnglogos.com/uploads/race-car-logo-symbol-speed-png-23.png);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    cursor: pointer;
}


.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.sidebar-btn {
    margin: auto 0;
}

.web-title {
    display: none;
}

.web-title p {
    font-size: 16px;
    height: 100%;
    text-shadow: 4px 2px 11px lightblue;

}




.addAndRegistrationButtons {
  margin-top: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 400px;
}

.add-div {
  text-align: center;
}


.action-handler {
  font-size: 18px;
}


.bg-green {
  background-color: green !important;
  color: white !important;
}

.bg-green:hover {
  background-color: lightgreen;
  color: white;
}

.sign-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.sign-in-btn {
  color: green;
  margin-top: 5px;

}

.bg-lightred {
  background-color: rgb(231, 88, 88) !important;
  color: white;
}

.sign-in-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}


/* content */


.content-header {
  margin: 85px auto 0;
  width: 100%;
  max-width: 1300px;
  height: 25vh;
  background-image: url(https://connect-assets.prosple.com/cdn/ff/_CGxeh6zNfu7pH5tdr0WJqdRpHOK_DOYxDRQvt3dUBg/1630574292/public/2021-09/Banner-Mercedez%20Benz%20India-1786x642-2021.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: white;
}

.content-header h1 {
  font-size: 20px;
  padding-left: 5px;
  font-weight: 100;
}

.content-header p {
  font-size: 16px;
  letter-spacing: 1px;
  align-self: center;
  text-align: center;
}



.search-form {
  max-width: 550px;
  width: 100%;
  margin: 25px auto;
  display: flex;
}

.search-input {
  width: 100%;
  height: 35px;
  padding-left: 10px;
  border: 1px solid gray;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-form button {
  background-color: white;
  cursor: pointer;
  padding: 0 8px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid gray;
}

.search-form button:hover {
  background-color: lightgray;
}


.result-heading {
  text-align: center;
  font-size: 15px;
}



/* posts */

.posts-contain {
  width: 100%;
  max-width: 1000px;
  min-height: 300px;
  margin: auto;
}


.post {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  /* background-color: rgb(245, 242, 239); */
  box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.29);
  margin-top: 20px;
  position: relative;
}

.post img {
  width: 50%;
  border-radius: 5px;
}


.car-info {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-info div {
  width: 100%;
  margin-top: 20px;
}

.model {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
}

.price {
  font-weight: 700;
  font-size: 18px;
}

.car-info div button{
  margin: 15px;
}

.remove-btn {
  background-color: rgb(210, 96, 96);
  border: none;
  color: white;
  padding: 7px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: rgb(231, 78, 78);
}


.modal {
  max-width: 500px;
  width: 85%;
  min-height: 300px;
  background-color: white;
  margin: 90px auto !important;
  padding: 35px 5px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.closeDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
}

.closeBtn {
  background-color: lightgray;
  color: black;
  padding: 7px 16px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.closeBtn:hover {
  background-color: gray;
  color: white;
}

.modal form {
  width: 100%;
}

.modal h1 {
  font-size: 25px;
  text-align: center;
}

.success {
  margin-top: 50px;
  color: green;
}


.error {
  color: red;
  text-align: center;
}

.post-add-btn {
  font-size: 35px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: lightgray;
}

.post-add-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.post-add-form div {
  width: 100%;
  padding: 5px;
}

.post-add-form input {
  width: 100%;
  height: 30px;
  font-size: 17px;
  padding-left: 4px;
  border-radius: 4px;
  border: 1px solid lightgrey;
  border-bottom: 1px solid gray;
  outline:  none;
}

.postSection {
  width: 100%;
  display: flex;
  justify-content: center;
}

.post-add-form div:not(.postSection) {
  display: flex;
  flex-direction: column;
}

.post-add-form button {
  margin-top: 10px;
  padding: 10px 33px;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  background-color: rgb(98, 185, 98);
  color: white;
}

.post-add-form button:hover {
  background-color: green;
  cursor: pointer;
}


@media (min-width: 768px) {
  #header {
    left: 250px;
    height: 85px;
  }

  #sidedrawer {
    transform: translate(250px);
  }

  #content-wrapper {
    margin-left: 250px;
    padding: 25px;
    padding-bottom: 160px;
  }

  #footer {
    margin-left: 250px;
  }

  body.hide-sidedrawer #header {
    left: 0;
  }

  body.hide-sidedrawer #sidedrawer {
    transform: translate(0px);
  }

  body.hide-sidedrawer #content-wrapper {
    margin-left: 0;
  }

  body.hide-sidedrawer #footer {
    margin-left: 0;
  }

    .bigger {
        font-size: 30px !important;
    }
    .web-title {
        display: block;
    }

    .web-title p {
        font-size: 25px;
    }

    .car-logo {
        max-width: 120px;
    }

    .result-heading {
      font-size: 20px;
    }
    .modal {
      width: 50%;
      margin: 150px auto;
      padding: 25px 15px;
    }

    .modal h1 {
      font-size: 20px;
      font-weight: 200;
    }
    .modal form {
      width: 100%;
      margin-top: 60px;
    }

    .page-title h1 {
      font-size: 25px;
    
    }

    .content-header h1 {
      font-size: 35px;
      padding-left: 15px;
      font-weight: 300;
      letter-spacing: 1px;
    }
    
}


@media (max-width: 500px) {
  .post {
    flex-direction: column;
  }
  .post img {
    width: 100%;
  }
  .modal {
    margin: 40px auto !important;
  }

  .car-info {
    width: 100%;
  }
  .postSection {
    flex-direction: column;
  }
}


/**
 * Toggle Side drawer
 */
#sidedrawer.active {
  transform: translate(250px);
}


/**
 * Header CSS
 */
.sidedrawer-toggle {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  margin-right: 10px;
}

.sidedrawer-toggle:hover {
  color: #fff;
  text-decoration: none;
}




